body {
  margin: 0;
  background-image: url(../img/background/dark-smoke.avif);
  background-size: cover;
}

:root {
  --side-margins: 60px;
  --container-pos: 150px;
}

.item {
  position: relative;
  width: 100%;
  height: 100%;
}

.menu_button {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
}
.menu_button img {
  height: 50px;
}

.character-name {
  grid-area: t;
  /* color: white; */
  color: black;
  font-size: 60px;
  font-family: "GOT Font";
  margin: auto;
  /* margin-top: ; */
}

.character-img {
  grid-area: i;
  position: absolute;
  left: 0;
  margin-bottom: 0;

  height: 500px;
}

.character-info {
  grid-area: b;
  position: absolute;
  right: 0;

  margin-top: 20px;
  margin-right: 35px;

  color: black;
  font-size: 18px;
  font-family: "Trajan Pro Regular";
}

.character-sigil {
  grid-area: s;
  height: 100px;

  margin: auto;
}
*/ body {
  background-image: url(../img/pattern.jpg);
  /* background-image: linear-gradient(to top right, #8b5cf6, #ec4899); */
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}
.slider {
  /* border: solid red 1px; */

  height: 88vh;

  padding: 40px;
  position: relative;
  overflow: hidden;
}
.item {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "i i i t t s"
    "i i i b b b"
    "i i i b b b";

  position: absolute;
  right: var(--container-pos);
  left: var(--container-pos);
  top: 90px;

  z-index: 4;
  height: 70vh;
  width: 1200px;
  text-align: justify;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  transition: 0.5s;
}

#next,
#prev {
  z-index: 5;
  position: absolute;
  top: 45%;
  color: white;
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 80px;
}

#next {
  left: unset;
  right: 80px;
}

#Jon-Snow {
  background-image: url(../img/patterns/snow-highres.jpg);
  background-size: cover;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
}

#Jon-Snow .character-info {
  margin-top: 0px;
  font-size: 16px;
}

#Jamie-Lannister {
  background-image: url(../img/patterns/lannister.jpg);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 24px 0px rgba(255, 255, 255, 1);
}

#Jamie-Lannister {
  background-image: url(../img/patterns/lannister.jpg);
  /* background-size: cover; */
  grid-template-areas:
    "i i t t t s"
    "i i b b b b"
    "i i b b b b";
}

#Jamie-Lannister > * {
  color: white;
}
#Jamie-Lannister .character-sigil {
  height: 120px;
}

#Jamie-Lannister .character-img {
  margin-left: 20px;
}

#Danny {
  background-image: url(../img/background/ash.jpg);
  background-size: cover;
  grid-template-areas:
    "i i t t t s"
    "i i b b b b"
    "i i b b b b";

  -webkit-box-shadow: 0px 0px 24px 0px rgba(200, 49, 43, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(200, 49, 43, 1);
  box-shadow: 0px 0px 24px 0px rgba(200, 49, 43, 1);
}

#Danny .character-sigil {
  margin-right: 0px;
  height: 120px;
}

#Tyrion-Lannister {
  background-image: url(../img/patterns/lannister-beige.avif);

  grid-template-areas:
    "i i t t t s"
    "i i b b b b"
    "i i b b b b";
  /* background-size: cover; */
}
#Tyrion-Lannister .character-sigil {
  height: 120px;
}

#Tyrion-Lannister .character-img {
  margin-left: 55px;
  /* margin-right: 50px; */
}

#Arya-Stark {
  background-image: url(../img/patterns/pattern.jpg);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(202, 193, 78, 1);
  -moz-box-shadow: 0px 0px 24px 0px rgba(202, 193, 78, 1);
  box-shadow: 0px 0px 24px 0px rgba(202, 193, 78, 1);
}
#Arya-Stark .character-name {
  color: beige;
  font-size: 50px;
}
#Arya-Stark .character-info {
  color: beige;
  /* font-size: 50px; */
}

#Arya-Stark .character-img {
  margin-left: 40px;
}
