body {
  background-color: #1a1a1a;
  background-size: cover;
}

#center {
  width: 80%;
  margin: auto;
  height: 100%;
  position: relative;
  padding-top: 2px;
}

.header {
  position: static;
}

#map {
  width: 98%;
  height: 520px;
  border: 10px solid #ffffff;
  border-radius: 15px;

  margin-top: 20px;
  margin-bottom: 20px;
}
