#top_header {
  height: 2000px;
  margin: 0;
  overflow-y: scroll;
  position: relative;
}

#main_title {
  text-align: center;
  width: 100%;
  font-size: 90px;
  font-family: "Trajan Pro";
  color: white;
  /* opacity: 0; */
  position: fixed;
  z-index: -2;

  opacity: 1;
  /* transition: opacity 0.5s ease; */
  /* transform: translate(-50%, -50%); */
}

#small_text {
    font-family: "Trajan Pro";

  color: white;
  position: fixed;
  /* top: 20%; */
  text-align: center;
  width: 100%;
}

#throne {
  position: fixed;
  bottom: 0;
  left: 30%;
}
