body {
  background-color: black;
  margin: 0;
}


.main_menu {
  height: 100vh;
  background-color: white;

  display: grid;
  height: 80vh;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "c c e e l l w w"
    "c c e e l l w w"
    "c c e e l l w w";
}

.blur_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(5px);
  z-index: 0;
  transition: filter 0.3s ease;
}


.menu_slice {
  position: relative;
  overflow: hidden;
  
  text-decoration: none;
  /* z-index: 1; */
}

.menu_slice:hover .blur_container {
  filter: blur(0px);
}


.slice_title {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  z-index: 2;
  filter: none;
  
  position: relative;
}

#characters {
  grid-area: c;
}
#characters .blur_container {
  background-image: url(../img/characters_cinematic-cropped.jpg);
  background-size: cover;
}


#episodes {
  grid-area: e;
}
#episodes .blur_container {
  background-image: url(../img/episodes.jpg);
  background-size: cover;
}


#locations {
  grid-area: l;
}
#locations .blur_container {
  background-image: url(../img/map.jpg);
  background-size: cover;
}


#what {
  background-color: aqua;
  grid-area: w;
}

#more {
  height: 70vh;
  background-color: blanchedalmond;
}
