body {
  background-color: black;
  margin: 0;
  scrollbar-color: rgb(255, 5, 46) lightblue;
  scrollbar-color: hotpink blue;
}

body::-webkit-scrollbar {
  width: 12px; /* Bredden på scrollbaren */
}

body::-webkit-scrollbar-track {
  background: blue; /* Bakgrunnsfarge på scrollbaren */
}

body::-webkit-scrollbar-thumb {
  background-color: hotpink; /* Fargen på tommelen */
  border-radius: 10px; /* Runde kanter på tommelen */
  border: 2px solid blue; /* Kant rundt tommelen */
}

/* 
div.scroller {
  
}  */

.fill {
  background-color: black;
  background-image: url(../img/patterns/wood2.jpg);
  background-size: contain;

  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;

  padding-left: 10px;
  padding-right: 10px;

  margin-left: 20px;
  margin-right: 20px;
}

.separator {
  background-image: url(../img/patterns/ice.jpg);
  height: 5vh;
  width: 100%;
}

#main_menu {
  display: grid;
  height: 80vh;

  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);

  grid-template-areas:
    "c c e e l l w w"
    "c c e e l l w w"
    "c c e e l l w w";
}

.blur_container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: blur(8px);
  z-index: 0;
  transition: filter 0.3s ease;
  padding: 0;
}

.menu_slice {
  position: relative;
  overflow: hidden;

  text-decoration: none;
  background-color: rgb(0, 0, 0);

  border-radius: 15px;
  margin: 20px;

  -webkit-box-shadow: 17px 16px 24px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 17px 16px 24px 0px rgba(0, 0, 0, 1);
  box-shadow: 17px 16px 24px 0px rgba(0, 0, 0, 1);
}

.menu_slice:hover .blur_container {
  filter: blur(0px);
}
.menu_slice:hover .slice_title {
  color: #f3e054;
}

.slice_title {
  font-size: 40px;
  font-family: "Trajan Pro Bold";

  margin-top: 35px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);

  z-index: 2;
  filter: none;

  position: relative;
}

.menu_slice .blur_container img {
  width: 260px;
  border: solid white 7px;

  margin-top: 110px;
  margin-left: 33px;
  margin-right: 33px;
  margin-bottom: 33px;
}

#characters {
  grid-area: c;
}

#seasons {
  grid-area: e;
}
#seasons .blur_container {
  /* background-image: url(../img/menu/episodes.jpg); */
  background-size: cover;
}

#locations {
  grid-area: l;
}
#locations .blur_container {
  /* background-image: url(../img/menu/map.jpg); */
  background-size: cover;
}

#houses {
  grid-area: w;
}

#houses .blur_container {
  /* background-image: url(../img/menu/houses.jpg); */
  background-size: cover;
}

#more {
  height: 70vh;
  background-color: black;
  /* background-image: url(../img/wood.jpg); */
  background-size: cov;
}
