body {
  background-color: #1a1a1a;
  color: #f0f0f0;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

.season {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #333;

  position: relative;
}

.season:nth-child(even) {
  flex-direction: row-reverse;
}

.season h2 {
  margin-top: 0;
  font-size: 24px;

  font-family: "GOT Font";
}

.season-image {
  width: 50%;
  text-align: center;
}

.season-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.season-text {
  margin-right: 20px;
  margin-left: 20px;
}

.season-text ul li {
  margin-top: 50px;
  margin-bottom: 30px;

  font-size: 16px;
  font-family: "Trajan Pro Bold";
}

/* FÅ CHaracters til å starte med Jon snow */
